/*Classes*/
.login_input {
}

.submit_button {
    border: none;
    font-size: 12px;
}

.registration_input {
    width: 300px;
}
/*id*/
#login_bar {
    min-height: 100px;
    background-color: olivedrab;
    position:  relative;
}

#logo {
    font-size: 35px;
    color: whitesmoke;
    position: absolute;
    left: 5%;
}

#login_container {
    font-size: 15px;
    color: aliceblue;
    position: absolute;
    right: 0;
    bottom: 0;
    right: 5%;
    bottom: 32px;
}

#register_bar {
    background-color: ghostwhite;
    position: relative;
    overflow: hidden;
    bottom: 0;
}

#register {
    font-size: 20px;
    margin-left: 2%;
}

#register_container {
    font-size: 15px;
    margin-left: 2%;
}

/*Generics*/
body {
    background-color: gainsboro;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}