<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>Post View</title>
    <link rel="stylesheet" href="{% static 'view.css' %}" />
  </head>
  <body>

    <div class="post_body">
      {{ content|safe }}
    </div id="post_body">

    <div class="comment_container">
      {% for comment in comment_list %}
      <div class="comment">{{ comment.content }}</div>
      {% endfor %}
    </div>

    <div class="comment_form">
      <form action="{% url 'post:comment' pk=post.id %}" method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Post Comment" />
      </form>
    </div>

  </body>
</html>

</body>
</html>
