<html>
<body>

<form action="/a/edit_post/" method="POST">
{% csrf_token %}
  First name:<br>
  <input type="text" name="firstname">
  <br>

  Last name:<br>
  <input type="text" name="lastname">
  <br>

  Date of Birth:<br>
  <input type="date" name="dob">
  <br>
  
  Gender:<br>
 
  <input type="radio" name="gender" value="M"> Male
  <input type="radio" name="gender" value="F"> Female<br>

  <br>

  Phone Number:<br>
  <input type="tel" pattern='[\(]\d{3}[\)]\d{3}[\-]\d{4}' name='phone'> 
  <br>

  Github URL:<br>
  <input type="text" name="gitURL">
  <br>

  <br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>