{% extends "base_cp.html" %}
{% load static %}
{% block title %}Home of{% endblock %}
{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Home
    </h1>
  </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title"> Add a Post</h3>
            </div>
            <div class="box-body">
			    <form action="/author/author_post/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Post Text</label>
                        <textarea class="form-control" rows="3" name="post_content" placeholder="What do you want to talk about today?"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Post Privacy</label>
		                    <select class="form-control" name="privacy_level">
		                      <option value=0>Public</option>
		                      <option value=1>Friends</option>
		                      <option value=2>Friends of Friends</option>
		                      <option value=4>Me Only</option>
		                    </select>
                    </div>
                    <div class="form-group">
                      <label>Make this an Image Post</label>
                      <input type="file" name="image">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-primary">Post</button>
                    </div>
			    </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <!-- The time line -->
          <ul class="timeline">
            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-red">
                    Feed
                  </span>
            </li>
            <!-- /.timeline-label -->
            {% for post in posts %}
            {% if post.image %}
            <li>
              <i class="fa fa-camera bg-purple"></i>

              <div class="timeline-item">
                <h3 class="timeline-header">{{ post.author }} posted an image...</h3>

                <div class="timeline-body">
                  <img src="{{ post.image.url }}" class="margin img-responsive">
                </div>
                <div class="timeline-footer">
                  <a href="{% url 'post:post' post.id %}" class="btn btn-primary btn-xs">More Details</a>
                </div>
              </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            {% endif %}
            {% if not post.image %}
            <li>
              <i class="fa fa-sticky-note bg-blue"></i>

              <div class="timeline-item">
                <h3 class="timeline-header">{{ post.author }} posted...</h3>

                <div class="timeline-body">
                    {{ post.content }}
                </div>
                <div class="timeline-footer">
                  <a href="{% url 'post:post' post.id %}" class="btn btn-primary btn-xs">Read more</a>
                </div>
              </div>
            </li>
            {% endif %}
            {% endfor %}
            <!-- timeline item -->
            <!-- END timeline item -->
            <li>
              <i class="fa fa-clock-o bg-gray"></i>
            </li>
          </ul>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
