<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>CMPUT404 Social Distribution Project</title>
		<meta charset="UTF-8">
		<link href="{% static "mainpgstyle.css" %}" rel="stylesheet">
	</head>
	
	<body>
	<div class="main">
		<div class="left-bar">
			<div class="lbp">
				{{request.user.username}}
			</div>
			<div class="vspacer"></div>
			<div class="lbm">
				Home/make a post
			</div>
			<div class="lbm">
				See my followers
			</div>
			<div class="lbm">
				See my friends
			</div>
			<div class="lbm">
				Find/follow other users
			</div>
			<div class="lbm">
				View my feed
			</div>
		</div>
		<div class="main-body">
			<form action="/a/author_post/" method="POST">
                {% csrf_token %}
                <table cellspacing="0" role-="presentation">
                    <tbody>
                        <tr>
                            <td>
                                <textarea class="mlt" name="post_content" placeholder="What do you want to talk about today?"></textarea>
                            </td>
				        </tr>
                        <tr>
                            <td>
                                <input class="submit" type="submit" />
                            </td>
                        </tr> 
		            </tbody>
                </table>
                {% for post in posts %}
                    <div>
                        {{post.content}}
                    </div>
                {% endfor %}
			</form>
		</div>
	</div>
	</body>
</html>
