<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>CMPUT404 Project</title>
    <link rel="stylesheet" href="{% static "author_index.css" %}" />
</head>
<body>
    <div id="dividing_bar">
        <div id="logo">
            The word of the day is: "Moist"
        </div>
        <div id="logout_button">
            <form id="logout_form" action="/logout/" method="GET">
                <input type="submit" class="button" value="Log out" />
            </form>
        </div>
    </div>
    <div id="main_container">
        <div id="left_container">
            <div id="user_profile">
                {{request.user.username}}<br/>
                Name: 
				{{author.firstname}}
                {{author.lastname}}<br/>
                Date Of Birth: 
                {{author.dob}}<br/>
                Phone Number: 
                {{author.phone}}<br/>
                Email:
                {{request.user.email}}</br>
                Gender: 
                {{author.get_gender_display}}<br/>
                Github Profile:
                {{author.gitURL}}<br/>
            </div>
            <div class="nav_panel">
                Navigate
                <div class="nav_item">
                    My Friends
                </div>
                <div class="nav_item">
                    Following
                </div>
            </div>
            <div class="nav_panel">
                Functions
				<div class="nav_item">
                    <a href="/author/edit/">Edit Profile</a>
                </div>
                <div class="nav_item">
                    View Author List
                </div>
                <div class="nav_item">
                    Make Comment
                </div>
            </div>
        </div>
        <div id="center_container">
            <div>
                Your Posts
            </div>
            <div id="feed_container">
                {% for post in posts %}
                <div class="post_link">
                    <a href="{% url 'post:post' post.id %}" >{{ post.content }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>

