{% extends "base_cp.html" %}
{% load static %}
{% block title %}Profile in{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ author.id.username }}'s profile
      </h1>
      <h4>
	{% if request.user == author.id %}
	{% elif follows %}
	  <a href="{% url 'author:unfollow' id=author.id.id %}" class="btn btn-primary">Unfollow</a>
	{% else %}
	  <a href="{% url 'author:follow' id=author.id.id %}" class="btn btn-primary">Follow</a>
	{% endif %}
	{{friend_status}}
      </h4>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header">
	    </div>
            <div class="box-body"
                <p>Name:
		{{author.firstname}}
                {{author.lastname}}</p>
                <p>Date Of Birth:
                {{author.dob}}</p>
                <p>Phone Number:
                {{author.phone}}</p>
                <p>Email:
                {{request.user.email}}</p>
                <p>Gender:
                {{author.get_gender_display}}</p>
                <p>Github Profile:
                {{author.gitURL}}</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <!-- The time line -->
          <ul class="timeline">
            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-red">
                    Posts
                  </span>
            </li>
            <!-- /.timeline-label -->
            {% for post in posts %}
            {% if post.image %}
            <li>
              <i class="fa fa-camera bg-purple"></i>

              <div class="timeline-item">
                <h3 class="timeline-header">
                    <a href="{% url 'author:profile' post.author.id.id %}">{{ post.author }}</a> posted an image...
                </h3>

                <div class="timeline-body">
                  <img src="/images/{{post.id}}/{{ post.image_url }}" class="margin img-responsive">
                </div>
                <div class="timeline-footer">
                  <a href="{% url 'post:post' post.id %}" class="btn btn-primary btn-xs">More Details</a>
                </div>
              </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            {% endif %}
            {% if not post.image %}
            <li>
              <i class="fa fa-sticky-note bg-blue"></i>

              <div class="timeline-item">
                <h3 class="timeline-header">
                    <a href="{% url 'author:profile' post.author.id.id %}">{{ post.author }}</a> posted...
                </h3>

                <div class="timeline-body">
                    {{ post.content }}
                </div>
                <div class="timeline-footer">
                  <a href="{% url 'post:post' post.id %}" class="btn btn-primary btn-xs">Read more</a>
                  {% if request.user.id == post.author.id.id %}
                  <form action="{% url 'author:author_delete_post' post.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Delete">
                    </form>
                  {% endif %}
                </div>
              </div>
            </li>
            {% endif %}
            {% endfor %}
            <!-- timeline item -->
            <!-- END timeline item -->
            <li>
              <i class="fa fa-clock-o bg-gray"></i>
            </li>
          </ul>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
