{% extends "base_cp.html" %}
{% load static %}
{% block title %}Profile in{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ author.displayName }}'s profile
      </h1>
      <h4>
	{% if request.user == author.id %}
	{% elif follows %}
	  <a href="{% url 'author:unfollow' id=author.id.id %}" class="btn btn-primary">Unfollow</a>
	{% else %}
	  <a href="{% url 'author:follow' id=author.id.id %}" class="btn btn-primary">Follow</a>
	{% endif %}
	{{friend_status}}
      </h4>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header">
              <h4>Information</h4>
	        </div>
            <div class="box-body">
                <p>Name:
		{{author.firstname}}
                {{author.lastname}}</p>
                <p>Date Of Birth:
                {{author.dob}}</p>
                <p>Phone Number:
                {{author.phone}}</p>
                <p>Email:
                {{author.email}}</p>
                <p>Gender:
                {{author.get_gender_display}}</p>
                <p>Github Username:
                {{author.githubusername}}</p>                
                <p>Github URL:
                {{author.github}}</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- row -->
      <div class="row">
        <div class="col-md-6">
          <!-- The time line -->
          <ul class="timeline" id="posttimeline">
            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-red">
                    Posts
                  </span>
            </li>
            <!-- /.timeline-label -->
            {% for post in posts %}
            {% if post.contentType == 'image/png' or post.contentType == 'image/jpeg' %}
            <li>
              <i class="fa fa-camera bg-purple"></i>

              <div class="timeline-item">
                <h3 class="timeline-header">
                    <a href="{% url 'author:profile' post.author.id.id %}">{{ post.author.displayName }}</a> posted an image...
                </h3>

                <div class="timeline-body">
                  <img src="/images/{{post.id}}/{{ post.image_url }}" class="img-responsive" alt="{{ post.author.displayName }} image">
                </div>
                <div class="timeline-footer">
                 {% if request.user.id != post.author.id.id %}
                 <a href="{% url 'post:post' post.id %}" class="btn btn-primary btn-xs">Read More</a>
                 {% endif %}
                  {% if request.user.id == post.author.id.id %}
                  <form action="{% url 'author:author_delete_post' post.id %}" method="POST">
                    {% csrf_token %}
                    <a href="{% url 'post:post' post.id %}" class="btn btn-primary btn-xs">Read More</a>&nbsp;
                    <button type="submit" class="btn btn-danger btn-xs">Delete</button>&nbsp;&nbsp;<a href="{% url 'post:editpost' post.id %}" class="btn btn-warning btn-xs">Edit Post</a>
                  </form>
                  {% endif %}
                </div>
              </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            {% endif %}
            {% if post.contentType == 'text/plain' or post.contentType == 'text/markdown' %}
            <li>
              <i class="fa fa-sticky-note bg-blue"></i>

              <div class="timeline-item">
                <h3 class="timeline-header">
                    <a href="{% url 'author:profile' post.author.id.id %}">{{ post.author.displayName }}</a> posted...
                </h3>

                <div class="timeline-body">
                    {{ post.content|safe }}
                </div>
                <div class="timeline-footer">
                 {% if request.user.id != post.author.id.id %}
                 <a href="{% url 'post:post' post.id %}" class="btn btn-primary btn-xs">Read More</a>
                 {% endif %}
                  {% if request.user.id == post.author.id.id %}
                  <form action="{% url 'author:author_delete_post' post.id %}" method="POST">
                    {% csrf_token %}
                    <a href="{% url 'post:post' post.id %}" class="btn btn-primary btn-xs">Read More</a>&nbsp;
                    <button type="submit" class="btn btn-danger btn-xs">Delete</button>&nbsp;&nbsp;<a href="{% url 'post:editpost' post.id %}" class="btn btn-warning btn-xs">Edit Post</a>
                  </form>
                  {% endif %}
                </div>
              </div>
            </li>
            {% endif %}
            {% endfor %}
            <!-- timeline item -->
            <!-- END timeline item -->
            <li>
              <i class="fa fa-clock-o bg-gray"></i>
            </li>
          </ul>
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <!-- The time line -->
          <ul class="timeline" id="githubtimeline">
            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-green">
                    Github Activity
                  </span>
            </li>
            <!-- /.timeline-label -->
          </ul>
        </div>        
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block cp_javascript %}
<script src="{% static 'js/rss-parser.js' %}"></script>
<script>
    {% if author.githubusername %}
    RSSParser.parseURL('http://crossorigin.me/https://github.com/{{author.githubusername}}.atom', function(err, parsed) {
      parsed.feed.entries.forEach(function(entry) {
        $('ul#githubtimeline').append('<li><i class="fa fa-link bg-maroon"></i><div class="timeline-item"><div class="timeline-body">'+ entry.content +'</div></div></li>')
      })
      $('ul#githubtimeline').append('<!-- END timeline item --><li><i class="fa fa-clock-o bg-gray"></i></li>');    
    });
    {% else %}
     $('ul#githubtimeline').append('<!-- END timeline item --><li><i class="fa fa-clock-o bg-gray"></i></li>');    
    {% endif %}
    setInterval(ajaxCall, 20000);
    function ajaxCall() {
        $.ajax({
            url:'/author/{{author.id.id}}/ajaxprofileposts/',
            type: 'get',
            dataType:'json',
            success: function(data) {
                $("#posttimeline").html(data.posts);
            }
        });
    }    
</script>
{% endblock %}
