<!DOCTYPE HTML>
<html>
	<head>
		<title>CMPUT404 Social Distribution Project</title>
		<meta charset="UTF-8">
		<link href="styling.css" rel="stylesheet">
	</head>
	
	<body>
	<div class="main">
		<div class="left-bar">
			<div class="lbp">
				Author name here
			</div>
			<div class="vspacer"></div>
			<div class="lbm">
				Home/make a post
			</div>
			<div class="lbm">
				See my followers
			</div>
			<div class="lbm">
				See my friends
			</div>
			<div class="lbm">
				Find/follow other users
			</div>
			<div class="lbm">
				View my feed
			</div>
		</div>
		<div class="main-body">
			<form>
				<textarea class="mlt" placeholder="What do you want to talk about today?"></textarea>
			<div class="fcb">
				<input class="submit" type="submit">
				</div>
			</div>
			</form>
		</div>
	</div>
	</body>
</html>
