/* Classes */
.button {
    border: none;
    font-size: 12px;
    background-color: gainsboro;
}

.nav_panel {
    font-size: 14px;
    padding: 8px;
    border-bottom: solid;
    border-width: 0.25px;
    color: forestgreen;
    border-bottom-color: black;
}

.nav_item {
    margin: 5px;
    color: forestgreen;
    color: black;
}

/* id */
#dividing_bar {
    background-color: olivedrab;
    min-height: 50px;
    position: relative;
}

#logo {
    font-size: 20px;
    color: whitesmoke;
    position: absolute;
    left: 22.5%;
    bottom: 0;
}

#logout_form {
    font-size: 15px;
    color: aliceblue;
    position: absolute;
    right: 22.5%;
    bottom: 5px;
}

#logout_button {

}

#main_container {
    margin: auto;
    width: 50%;
    padding-top: 12px;
    position: relative;
    overflow: visible;
}

#left_container {
    width: 20%;
    float: left;
}

#user_profile {
    font-size: 20px;
    border-bottom: solid;
    border-bottom-width: 0.5px;
}

#center_container {
    position: absolute;
    width: 80%;
    right: 0;
}

#post_container {
    margin: auto;
    width: 75%;
}

#text_container {
    min-height: 75px;
    display: flex;
    flex-direction: column;
}

#post_area {
    resize: none;
    height: 75px;
    border: solid;
    border-width: 0.5px;
}
#nav_post {
    width: 96%;
    padding: 2%;
    background-color: olivedrab;
}

#post_buttons {
    margin: auto;
}

#privacy_selector {
    display: inline-block;
}

#post_button {
    display: inline-block;
    right: 0;
}

#feed_container {
    margin: auto;
    width: 75%;
}
/* Generics */
body {
    background-color: ghostwhite;
    margin: 0;
    padding: 0;
    font-family: Arial, Hevetica, sans-serif;
}
