{% extends "base.html" %}
{% load static %}
{% block title %}Log into{% endblock %}
{% block login_css %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block body %}
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <b>Bearly</b>Social
  </div>
  <!-- /.login-logo -->
    {% if errors %}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p>{{ errors }}</p>
    </div>
    {% endif %}  
    {% if success %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p>{{ success }}</p>
    </div>
    {% endif %}  
  <div class="login-box-body">
    <p class="login-box-msg">Login to start your session</p>

    <form role="form" action="/login/" method="POST">
      {% csrf_token %}
      <div class="form-group has-feedback">
        <input type="email" name="user" class="form-control" placeholder="E-mail" autofocus required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input name="password" type="password" class="form-control" placeholder="Password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
    <hr>
  <div class="login-box-body">
    <p class="login-box-msg">Not registered? Sign up today!</p>
    <form id="registration" action="/register/" method="POST" >
        {% csrf_token %}
      <div class="form-group has-feedback">
        <input name="username" maxlength="32" class="form-control" placeholder="Username" required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="email" name="email" class="form-control" placeholder="E-mail" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input name="password" type="password" class="form-control" placeholder="Password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" value="Register" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>  
  </div>
</div>
<!-- /.login-box -->
{% endblock %}
